
.container-left {
    display: flex;
}
.container-right {
    display: flex;
}
.blog-container {
    display: flex;
}
.blog-right {
    width: 66%;
}
.blog-left {
    width: 33%;
}
.blog-right , .blog-left {
    margin: 0 15px;
}
@include breakpoint-width(0 , 867px) {
    .blog-container {
        display: grid;
        margin: 0 25px;
    }
    .container-right {
        margin: 15px;
    }
    .container-left {
        margin: 15px;
    }
}
@include breakpoint-width (0 , 440px) {
    .container-right {
        margin: 5px;
    }
    .container-left {
        margin: 5px;
    }
    .blog-left {
        margin: 0 5px;
    }
    .blog-right {
        margin: 0 5px;
    }
    .blog-container {
        display: grid;
        margin: 0 15px;
    }
}