@import "constants.scss";

.main-form {
    display: flex;
}
  label {
    letter-spacing: 1px
}
  .main-form-block {
    display: flex;
    width: 100%;
}
.contact-main {
    display: flex;
    justify-content: center;
    width: 365px;
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}
.input-invalid {
    color: red;
    border-bottom: 2px solid red;
        &::placeholder {
        color: red;
    }
}
textarea {
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: black;
    letter-spacing: 1px;
    transition: .3s ease-in-out;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}
.button-contact {
    outline: none;
    padding: 8px 12px;
    margin-top: 10px;
    color: $white;
    letter-spacing: 2px;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    background: $orange;
    border: 2px solid $orange;
    font-weight: 600;
    &:hover {
		color: black;
        background: $white;
        border: solid 2px black;
	}

}
.feedback-contact {
    position: absolute;
    left: 15px;
    bottom: 20px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    
}
