@import "constants.scss";

.parallax {
  display: flex;
  box-sizing: border-box;
  background: url('../../images/1.jpg');
  background-size: cover;
  max-height: 500px;
  text-align: center;
  transform-style: inherit;
}

.developer-quote {
  max-width: 650px;
  margin-top: 15px;
}
.developer-text {
  color: #FFFFFF;
  font-size: 14px;
  font-style: italic;
}

.developer-name {
  margin: 15px 0;
}