@import "constants.scss";

.parallax {
  display: flex;
  box-sizing: border-box;
  background: url('../../images/1.jpg');
  background-size: cover;
  max-height: 500px;
  text-align: center;
  transform-style: inherit;
}

.developer-quote {
  max-width: 650px;
  margin-top: 15px;
}
.developer-text {
  color: #FFFFFF;
  font-size: 14px;
  font-style: italic;
}

.developer-name {
  margin: 15px 0;
}
.developer-text {
  margin-bottom: 20px;
}

@include breakpoint-width(0 , 800px) {
	.developer-quote {
    max-width: 550px;
    margin-top: 15px;
  }
}

@include breakpoint-width(0 , 600px) {
	.developer-quote {
    max-width: 450px;
  }
}

@include breakpoint-width(0 , 550px) {
	.developer-quote {
    max-width: 350px;
  }
}

@include breakpoint-width(0 , 550px) {
	.developer-quote {
    max-width: 350px;
  }
}